.signinpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;          
  min-height: 100vh;     
  padding: 100px 500px;         
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  background-color: rgba(230, 18, 28, 0.75);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}

.register-box {
  display: none;
}

.signin-container.active .signin-box {
  display: none;
}
.signin-container.active .register-box {
  display: block;
}

.signin-box form,
.register-box form {
  width: 100%;
}

form h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.input-box,
.reginput-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input,
.reginput-box input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-box input::placeholder,
.reginput-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #fff;
}

.options a {
  color: #fff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.toggle-link {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 0.95rem;
}

.toggle-link a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}