.pickupcontainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 212vh;
    background-color: black;

}

.pickuph1{
    color: white;
}

.pickupbtn{
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(230, 18, 28, 0.658);
    cursor: pointer;
    color: white;
}

.pickupbtn:hover{
    background-color: rgba(164, 5, 13, 0.658);
}
