* {
  padding: 0%;
  margin: 0%;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.contactform {
  width: 800px;
  height: 90%;
  background-color: rgba(230, 18, 28, 0.658);
  border-radius: 30px;
  padding: 10px 20px 25px;
  margin: 350px;
}

.contacth1 {
  font-size: 70px;
  color: black;
  margin-bottom: 50px;
  
}
.contacth1:hover {
  color: white;
}

.contactform .contact-inputbox {
    margin-top: 10px;
  width: 100%;
  background-color: transparent;
}

.contact-inputbox  .feild{
    width: 50%;
    height: 50px;
    border: 3px solid #ddd;
    outline: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    color: black;
    margin-top: 8px;
    margin-left: 50px;
}

.contact-inputbox label{
    font-size: 25px;
    display: flex;
}

.feild-message{
    width: 90%;
    height: 150px;
    resize: none;
    border: 3px solid #ddd;
    outline: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    color: black;
    margin-top: 8px;
    margin-left: 50px;
}

.contact-btn {
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 300px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: rgba(230, 18, 25, 0.658);
  border-radius: 20px;
}
.contact-btn:active {
  background-color: rgba(
    172,
    12,
    17,
    0.658
  );
}
